@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead" style="background-image: url(@Model.Banner.PhotoUrl);">
    <div class="container">
        <div class="masthead-subheading">@Model.Banner.SubTitle</div>
        <div class="masthead-heading text-uppercase">@Model.Banner.Title</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row text-center">
            @foreach (var service in Model.Services)
            {
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="@service.Icon fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">@service.Title</h4>
                    <p class="text-muted">@service.Description</p>
                </div>
            }
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            @* SSSSS *@
            @foreach (var portfolio in Model.Portfolios)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal_@portfolio.Id">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="@portfolio.PhotoUrl" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@portfolio.ProjectName</div>
                            <div class="portfolio-caption-subheading text-muted">@portfolio.Category.CategoryName</div>
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
             @{
               int count = 0;
            } 
            
            @foreach (var about in Model.Abouts)
            {
                  <li class=@(count%2==0 ? "": "timeline-inverted")>
                <div class="timeline-image"><img class="rounded-circle img-fluid" style="height: 100%;" src="@about.PhotoUrl"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-he3ading">
                        <h4>@about.Heading</h4>
                        <h4 class="subheading">@about.SubHeafing</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">@about.Description</p>
                    </div>
                </div>
            </li>
            count++;
            }
            
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
 @foreach (var team in Model.Teams)
            {
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="@team.PhotoUrl" alt="..." />
                        <h4>@team.Name</h4>
                        <p class="text-muted">Lead Designer</p>
                        @foreach (var social in team.TeamNetwork)
                        {
                            <a class="btn btn-dark btn-social mx-2" href="@social.SocialNetwork.Url@social.UserUrl" aria-label="Parveen Anand Twitter Profile"><i class="@social.SocialNetwork.Icon"></i></a>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>
<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            @foreach (var partner in Model.Partners)
            {
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="@partner.PartnerUrl"
                        alt="..." aria-label="Microsoft Logo" /></a>
            </div>
            }
                
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <form id="contactForm" method="post" asp-controller="Home" asp-action="Index">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" name="UserName" id="name" type="text" placeholder="Your Name *"
                            data-sb-validations="required" />
                       
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" name="UserEmail" type="email" placeholder="Your Email *"
                            data-sb-validations="required,email" />
                        
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" name="UserPhone" placeholder="Your Phone *"
                            data-sb-validations="required" />
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" name="UserMessage" placeholder="Your Message *"
                            data-sb-validations="required"></textarea>
                       
                    </div>
                </div>
            </div>
            
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase " id="submitButton"
                    type="submit">Send Message</button></div>
        </form>
    </div>
</section>
<!-- Portfolio Modals-->
<!-- !  Portfolio item 1 modal popup-->
@foreach (var portfolio in Model.Portfolios)
{
<div class="portfolio-modal modal fade" id="portfolioModal_@portfolio.Id" tabindex="-1" role="dialog"
    aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" />
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project details-->
                            <h2 class="text-uppercase">@portfolio.ProjectName</h2>
                                <p class="item-intro text-muted">@portfolio.SubTitle</p>
                                <img class="img-fluid d-block mx-auto" src="@portfolio.PhotoUrl" alt="..." />
                                <p>@portfolio.Description</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        @portfolio.ClientName
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        @portfolio.Category.CategoryName
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
